#!/usr/bin/make -f

export DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

SERVICE = bluetooth-ssh.service bluetooth-console.service

%:
	dh $@

override_dh_installsystemd:
	$(foreach service,$(SERVICE:.service=),dh_installsystemd --name $(service);)
